body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card:hover {
    background: #3498db;
    color: white;
}

.logout {
    background: #e74c3c;
    color: white;
}