<html>
<head>

<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<div class="container">

<div class="title">Lost & Found Management System</div>

<div class="menu">

<a href="/report_lost"><div class="card">Report Lost Item</div></a>

<a href="/report_found"><div class="card">Report Found Item</div></a>

<a href="/view_lost"><div class="card">View Lost Items</div></a>

<a href="/view_found"><div class="card">View Found Items</div></a>

<a href="/logout"><div class="card">Logout</div></a>

</div>

</div>

</body>
</html>