<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Lost and Found Management</h1>
<p class="success">Login Successful</p>

<div class="menu">
    <a href="/lost" class="card">Report Lost Item</a>
    <a href="/found" class="card">Report Found Item</a>
    <a href="/view-lost" class="card">View Lost Items</a>
    <a href="/view-found" class="card">View Found Items</a>
    <a href="/logout" class="card logout">Logout</a>
</div>

</body>
</html>