<!DOCTYPE html>
<html>

<head>
<title>Report Found Item</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Report Found Item</h2>

<form method="POST" enctype="multipart/form-data">

<input type="text" name="title" placeholder="Item Title" required>

<input type="text" name="description" placeholder="Description">

<input type="text" name="location" placeholder="Location Found">

<input type="text" name="contact" placeholder="Contact Number">

<input type="date" name="date">

<input type="file" name="image">

<button type="submit">Submit Found Item</button>

</form>

</body>
</html>